.additional-products {
  padding: 25px 0 35px 0;
}

.additional-products__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-products__box {
  @include vp-desk {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}

.additional-products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 19px;
  padding-bottom: 35px;
}

.additional-products__list-item {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include vp-desk {
    flex-direction: row;
    gap: 40px;
  }
}

.additional-products__wrapper {
  @include vp-tab {
    display: flex;
    justify-content: space-between;
  }

  @include vp-desk {
    width: 610px;
  }
}

.additional-products__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-nero;
}

.additional-products__inner {
  display: flex;
  justify-content: space-between;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 14px;
  color: $color-charcoal;

  @include vp-tab {
    gap: 49px;
  }
}

.additional-products__button {
  flex-grow: 1;
}

.additional-products__promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 58px;
  background: $color-apple url("../../img/deco/cat-bag.jpg") center/cover no-repeat;

  @include vp-tab {
    flex-direction: row;
    justify-content: space-between;
  }

  @include vp-desk {
    flex-direction: column;
  }
}

.additional-products__slogan {
  font-family: $ff-lato;
  text-align: center;
  color: $color-default-white;

  @include vp-tab {
    width: 161px;
    text-align: left;
  }

  @include vp-desk {
    text-align: center;
  }
}
