.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 0;
  word-break: break-word;

  @include vp-tab {
    padding: 61px 41px;
  }

  @include vp-desk {
    max-width: 565px;
    padding: 56px 75px 63px 80px;
    background: $color-default-white;
  }
}

.address__subtitle {
  width: 139px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;

  @include vp-tab {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  justify-self: end;
  width: 140px;
  margin: 0;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 20px;
  color: $color-charcoal;

  @include vp-tab {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  @include vp-desk {
    text-align: left;
  }
}
