.address {
  padding: 26px 0;
}

.address__subtitle {
  margin: 0;
  line-height: 20px;
  color: $color-black;
}

.address__text {
  margin: 0;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 20px;
  color: $color-charcoal;
}
