.address-info {
  background-color: $color-white-smoke;

  &--primary {
    background-color: $color-default-white;
  }

  @include vp-desk {
    position: relative;
    z-index: 1;
    padding: 95px 0 107px 0;
  }
}

.address-info__map {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 362px;

  @include vp-tab {
    height: 400px;
  }

  @include vp-desk {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
  }
}

.address-info__map-inner {
  position: absolute;
  z-index: -1;
  flex-grow: 1;
  max-width: 320px;
  pointer-events: none;

  @include vp-tab {
    max-width: 768px;
  }

  @include vp-desk {
    max-width: 1440px;
  }
}

.address-info__map-img {
  width: 100%;
  height: 100%;
}

.address-info__iframe {
  width: 100%;
  flex-grow: 1;
}
