.advantages {
  padding: 10px 0 49px 0;
}

.advantages__list {
  @include list-reset;
  display: grid;
  gap: 20px;

  @include vp-tab {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 150px;
  }

  @include vp-desk {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 150px;
  }
}

.advantages__inner {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @include vp-tab {
    grid-template-columns: 1fr;
    max-width: 260px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 44px;
}

.advantages__text {
  margin: 0;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;
}
