.advantages {
  position: relative;
  padding: 10px 0 49px 0;

  @include vp-tab {
    padding: 34px 0 49px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 13px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-gainsboro;
    }
  }

  @include vp-desk {
    padding: 61px 0 49px 0;

    &::after {
      display: none;
    }
  }
}

.advantages__list {
  @include list-reset;
  display: grid;
  gap: 20px;

  @include vp-tab {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 62px;
    counter-reset: verse 0;
  }

  @include vp-desk {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 65px;
  }
}

.advantages__list-item {
  counter-increment: verse 1;
}


.advantages__inner {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @include vp-tab {
    position: relative;
    grid-template-columns: 1fr;
    max-width: 260px;
    min-height: 280px;
    padding: 29px 0 48px;
    gap: 12px;

    &::after {
      content: counter(verse);
      position: absolute;
      z-index: -1;
      top: -4%;
      right: 5%;
      font-size: 280px;
      line-height: 1;
      color: $color-white-smoke;
    }
  }

  @include vp-desk {
    width: 260px;
  }
}

.advantages__inner--one {
  @include vp-tab {
    &::after {
      right: 13%;
    }
  }
}

.advantages__img {
  @include vp-tab {
    width: 80px;
    height: 80px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 44px;
}

.advantages__text {
  margin: 0;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;

  @include vp-tab {
    font-size: 16px;
    line-height: 24px;
  }
}
