.button {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: $color-apple;
  color: $color-default-white;
  border: 0;
}

.button--primary {
  background-color: $color-white-smoke;
  color: $color-charcoal;
}
