.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  background-color: $color-apple;
  color: $color-default-white;
  border: 0;

  &:hover {
    background: $color-limeade;
  }

  &:active {
    color: rgba($color-default-white, 0.3);
  }
}

.button--primary {
  background-color: $color-white-smoke;
  color: $color-charcoal;

  &:hover {
    background: $color-whisper;
  }

  &:active {
    opacity: 0.3;
  }
}
