.catalog {
  padding: 27px 0 25px 0;

  @include vp-tab {
    padding: 45px 0;
  }

  @include vp-desk {
    padding: 45px 0 56px 0;
  }
}

.catalog__title {
  margin: 0 0 41px;

  @include vp-tab {
    margin: 0 0 82px;
  }
}

.catalog__list {
  @include list-reset;
  display: grid;
  gap: 19px;

  @include vp-tab {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 60px;
  }

  @include vp-desk {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__list-item {
  position: relative;

  @include vp-mob {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 100vw;
      height: 1px;
      background: $color-whisper;
    }
  }
}

.catalog__list-item:last-child {
  @include vp-mob {
    &::after {
      content: "";
      position: absolute;
      bottom: -19px;
      left: -20px;
      width: 100vw;
      height: 1px;
      background: $color-whisper;
    }
  }
}
