.footer {
  padding: 40px 0;
  background-color: $color-white-smoke;

  @include vp-tab {
    padding: 43px 0;
  }

  @include vp-desk {
    padding: 53px 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;

  @include vp-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo-img {
  @include vp-tab {
    width: 143px;
  }
}

.footer__socials {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;

  @include vp-mob {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-gainsboro;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-gainsboro;
    }
  }
}

.footer__copyright {
  @include vp-tab {
    justify-self: end;
  }
}

.footer__logo-academy {
  display: flex;
  align-items: center;
  font-family: $ff-lato;
  line-height: 19px;
  color: $color-charcoal;

  @include vp-tab {
    width: 168px;
  }
}

.footer__logo-academy-text {
  margin-right: 140px;

  @include vp-tab {
    margin-right: 28px;
  }
}
