.footer {
  padding: 40px 0;
  background-color: $color-white-smoke;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include vp-tab {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__copyright {
  width: 281px;

  @include vp-tab {
    width: 168px;
  }
}

.footer__logo-academy {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: $ff-lato;
  line-height: 19px;
  color: $color-charcoal;
}

.footer__logo-academy-text {
  margin-right: auto;
}
