.footer {
  flex-shrink: 0;
  padding: 40px 0;
  background-color: $color-white-smoke;

  @include vp-tab {
    padding: 43px 0;
  }

  @include vp-desk {
    padding: 53px 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;

  @include vp-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo {
  &:hover[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }
}

.footer__logo-img {
  @include vp-tab {
    width: 143px;
  }
}

.footer__socials {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;

  @include vp-mob {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-gainsboro;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-gainsboro;
    }
  }
}

.footer__copyright {
  width: 280px;

  @include vp-tab {
    width: auto;
    justify-self: end;
  }
}

.footer__logo-academy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $ff-lato;
  line-height: 19px;
  color: $color-charcoal;

  &:hover .footer__logo-academy-icon {
    fill: $color-apple;
  }

  &:active {
    opacity: 0.3;
    fill: $color-apple;
  }

  @include vp-tab {
    width: 170px;
  }
}

.footer__logo-academy-icon {
  fill: $color-dim-gray;
}

.footer__logo-academy-text {
  @include vp-tab {
    margin-right: 28px;
  }
}
