.form__top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 26px 0;

  @include vp-desk {
    flex-direction: row;
    gap: 80px;
  }
}

.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  margin: 0;
  padding: 0;
  border: 0;

  &--row {
    padding: 0 0 16px 0;

    @include vp-desk {
      flex-direction: row;
      gap: 80px;
    }
  }
}

.form__fieldset--secondary {
  @include vp-mob {
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -20px;
      width: 100vw;
      height: 1px;
      background: $color-gainsboro;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: -20px;
      width: 100vw;
      height: 1px;
      background: $color-gainsboro;
    }
  }
}

.form__group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  flex-grow: 1;

  &--small-gap {
    gap: 11px;
  }
}

.form__label {
  color: $color-charcoal;
}

.form__label--primary {
  color: $color-nero;
}

.form__label--secondary {
  color: $color-default-black;
}

.form__field {
  flex-grow: 1;
  padding: 14px 16px 13px 20px;
  font: inherit;
  color: $color-charcoal;
  border: 1px solid #e7e7e7;

  &:focus ~ .form__control-mark--circle {
    border: solid 1px #bababa;
  }

  &--small-padd {
    padding: 14px 38px 13px 14px;
  }
}

.form__field[type="radio"]:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 6.5px;
  right: 7.5px;
  background: $color-apple;
  border-radius: 50%;
}

.form__field[type="checkbox"]:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  top: 7px;
  right: 5px;
  background: url("../img/deco/checkbox.svg");
}

.form__icon {
  position: absolute;
  right: 16px;
}

.form__control {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;

  &--circle {
    border: solid 1px #cdcdcd;
    border-radius: 50%;
  }

  &--rectangle {
    border: solid 1px #cdcdcd;
  }
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 0 19px 0;

  &--primary {
    padding: 0;

    @include vp-tab {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      column-gap: 123px;
    }

    @include vp-desk {
      display: flex;
      flex-direction: row;
      gap: 136px;
    }
  }
}

.form__legend-wrapper {
  position: relative;
  display: flex;
}

.form__legend {
  margin-bottom: 27px;
  padding: 5px 23px 0 0;
  font-size: 24px;
  line-height: 26px;
  background-color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 19px;
    width: calc(100% + 20px);
    height: 2px;
    background: $color-apple;
  }

  &--width {
    max-width: 205px;
  }
}

.form__textarea {
  margin: 0 0 20px;
  padding: 7px 14px 12px;
  font: inherit;
  color: $color-charcoal;
}

.form__text {
  margin: 0;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  margin-top: 40px;

  @include vp-tab {
    flex-direction: row;
    justify-content: flex-start;
    gap: 64px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
}
