.header {
  position: relative;
  padding: 13px 0 15px 0;

  @include vp-tab {
    padding: 11px 0 15px 0;
  }

  @include vp-desk {
    padding: 53px 0 32px 0;
  }
}

.header--line {
  @include vp-mob {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-gainsboro;
    }
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  width: 190px;

  @include vp-tab {
    justify-content: flex-start;
    width: 174px;
  }

  @include vp-desk {
    width: 202px;
    height: 59px;
  }
}
