.header {
  padding: 11px 0 17px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  width: 190px;

  @include vp-tab {
    display: block;
  }
}
