.header {
  position: relative;
  padding: 13px 0 15px 0;

  @include vp-desk {
    padding: 53px 0 32px 0;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  width: 190px;

  @include vp-tab {
    justify-content: flex-start;
  }
}
