.hero {
  padding: 27px 0 0 0;
  background: url("../img/deco/cat-lick.jpg") top no-repeat;

  @include vp-tab {
    padding: 54px 0 0 0;
    background: initial;
  }

  @include vp-desk {
    padding: 80px 0 0 0;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-tab {
    position: relative;
    align-items: start;
    margin: 0 0 0 88px;
    min-height: 790px;
  }

  @include vp-desk {
    max-width: 420px;
    margin: 0 0 0 80px;
    min-height: 532px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;

  @include vp-tab {
    margin-bottom: 40px;
    text-align: left;
  }
}

.hero__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-default-white;

  @include vp-tab {
    margin: 0 0 50px 0;
    font-size: 20px;
    line-height: 20px;
    color: $color-default-black;
    text-align: left;
  }
}

.hero__picture {
  margin-bottom: 3px;

  @include vp-tab {
    position: absolute;
    z-index: -1;
    bottom: -23px;
    right: -43px;
    width: 709px;
    height: 609px;
    pointer-events: none;
  }

  @include vp-desk {
    top: -82px;
    left: 385px;
    width: 552px;
    height: 499px;
  }
}

.hero .hero__button {
  @include vp-mob {
    width: 100%;
  }

  @include vp-tab {
    padding: 17px 29px;
    font-size: 20px;
    line-height: 20px;
  }
}
