.hero {
  padding: 27px 0 0 0;
  background: $green-to-white, url("../img/deco/cat-background-mob.jpg") top / 320px auto no-repeat;

  @include dp {
    background: $green-to-white, url("../img/deco/cat-background-mob@2x.jpg") top / 320px auto no-repeat;
  }

  @include vp-tab {
    padding: 45px 0 0 0;
    background: initial;
  }

  @include vp-desk {
    padding: 80px 0 0 0;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-tab {
    position: relative;
    align-items: start;
    margin: 0 0 0 88px;
    min-height: 790px;
  }

  @include vp-desk {
    max-width: 420px;
    margin: 0 0 0 80px;
    min-height: 532px;
  }
}

.hero__inner::before {
  @include vp-desk {
    content: "";
    position: absolute;
    pointer-events: none;
    top: -226px;
    left: 529px;
    z-index: -1;
    width: 720px;
    height: 694px;
    background: $green, url("../img/deco/cat-background-desk.jpg") no-repeat;

    @include dp {
      background: $green, url("../img/deco/cat-background-desk@2x.jpg") left / cover no-repeat;
    }
  }
}

.hero__inner::after {
  @include vp-desk {
    content: "";
    position: absolute;
    pointer-events: none;
    top: -600px;
    left: 529px;
    z-index: -2;
    width: 50vw;
    height: 1068px;
    background: $green;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;

  @include vp-tab {
    margin-bottom: 40px;
    text-align: left;
  }
}

.hero__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-default-white;

  @include vp-tab {
    margin: 0 0 50px 0;
    font-size: 20px;
    line-height: 20px;
    color: $color-default-black;
    text-align: left;
  }
}

.hero__picture-wrapper {
  @include vp-tab {
    position: absolute;
    z-index: -1;
    bottom: -22px;
    right: -1px;
    width: 709px;
    pointer-events: none;
  }

  @include vp-desk {
    top: -85px;
    left: 368px;
    width: 552px;
  }
}

.hero .hero__button {
  @include vp-mob {
    width: 100%;
  }

  @include vp-tab {
    padding: 17px 29px;
    font-size: 20px;
    line-height: 20px;
  }
}
