.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  min-height: 190px;

  &--primary {
    position: relative;
    grid-template-columns: 1fr;
    padding: 40px 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      width: 30px;
      height: 2px;
      background: #d3d3d3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      width: 30px;
      height: 2px;
      background: #d3d3d3;
    }
  }

  @include vp-tab {
    display: flex;
    flex-direction: column;
    padding: 234px 36px 39px;
    background: $color-white-smoke;
  }
}

.product__link {
  justify-self: center;

  &--img {
    @include vp-tab {
      position: absolute;
      top: 0;
    }
  }
}

.product__title {
  max-width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-nero;

  @include vp-tab {
    max-width: 170px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &--primary {
    max-width: 100%;
    margin: 30px 0 0;
    text-align: center;
    color: $color-black;

    @include vp-tab {
      line-height: 22px;
    }
  }
}

.product__inner {
  display: flex;
  justify-content: space-between;
  font-family: $ff-lato;
  font-size: 12px;
  line-height: 16px;
  color: $color-charcoal;

  @include vp-tab {
    font-size: 16px;
  }
}

.product__description {
  &--center {
    margin: 0;
    text-align: center;
  }
}

.product__button {
  grid-column: 1 / -1;
  justify-self: stretch;
  font-size: 16px;
  line-height: 20px;
}
