.programs {
  padding: 20px 0 10px 0;
}

.programs__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;

  @include vp-tab {
    margin-bottom: -30px;
  }

  @include vp-desk {
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 80px);
    margin-bottom: -80px;
  }
}

.programs__list-item {
  margin-bottom: 20px;

  @include vp-tab {
    margin-bottom: 30px;
  }

  @include vp-desk {
    width: calc(50% - 80px);
    margin-right: 80px;
    margin-bottom: 80px;
  }
}
