.program {
  background-color: $color-white-smoke;
}

.program__title {
  font-size: 24px;
  line-height: 37px;
}

.program__text {
  font-family: $ff-lato;
  font-size: 14px;
  color: $color-charcoal;
}

.program__link {
  line-height: 16px;
}
