.program {
  padding: 18px 20px;
  background-color: $color-white-smoke;

  @include vp-tab {
    min-width: 708px;
    min-height: 372px;
  }

  @include vp-desk {
    min-width: 570px;
    min-height: 374px;
  }
}

.program__inner {
  @include vp-tab {
    width: 70%;
  }

  @include vp-desk {
    max-width: 460px;
    width: 100%;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.program__text {
  margin: 0 0 38px 0;
  font-family: $ff-lato;
  font-size: 14px;
  color: $color-charcoal;
}

.program__link {
  line-height: 16px;
}
