.program-form {
  padding: 27px 0 32px 0;
  overflow: hidden;

  @include vp-tab {
    padding: 45px 0 72px 0;
  }

  @include vp-desk {
    padding: 43px 0 82px 0;
  }
}

.program-form .container {
  padding: 0 70px;
}

.program-form__title {
  margin: 0 0 37px;

  @include vp-tab {
    margin: 0 0 57px;
  }
}

.program-form__subtitle {
  max-width: 226px;
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;

  @include vp-tab {
    max-width: 330px;
    margin: 0 0 60px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
