.results {
  padding: 25px 0 56px;
  background-color: $color-white-smoke;

  @include vp-tab {
    background-color: $color-default-white;
  }
}

.results__wrapper {
  display: flex;
  flex-direction: column;

  @include vp-desk {
    width: 440px;
  }
}

.results .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-desk {
    flex-direction: row;
  }
}

.results__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;

  @include vp-tab {
    justify-content: space-between;
  }

  @include vp-desk {
    flex-direction: column;
  }
}

.results__terms-inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
}

.results__title {
  margin: 0 0 44px;
}

.results__description {
  margin: 0 0 20px;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;
}

.results__terms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 73px;
}

.results__terms-desc {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.results__terms-term {
  max-width: 80px;
  font-family: $ff-lato;
  font-size: 12px;
  line-height: 12px;
  color: $color-charcoal;
  text-align: center;
}

.results__text-wrapper {
  @include vp-tab {
    display: flex;
    flex-direction: column;
  }

  @include vp-desk {
    flex-direction: row;
    gap: 20px;
  }
}

.results__text {
  font-size: 14px;
  line-height: 20px;

  @include vp-tab {
    text-align: right;
  }
}

.results__slider-images {
  display: flex;
  justify-content: center;
  // Временно пока норм слайдер не сделали
  flex-wrap: wrap;
}
