.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.socials__link {
  color: $color-dim-gray;

  &:hover {
    color: $color-apple;
  }

  &:active {
    opacity: 0.3;
    color: $color-apple;
  }
}
