.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.socials__link {
  padding: 10px 6px;
  color: $color-dim-gray;

  &:hover {
    color: $color-apple;
  }

  &:active {
    opacity: 0.3;
    color: $color-apple;
  }
}
