.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.socials__link {
  &:hover {
    fill: $color-apple;
  }

  &:active {
    opacity: 0.3;
    fill: $color-apple;
  }
}
