.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @include vp-tab {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--primary {
  color: $color-default-white;

  @include vp-tab {
    color: $color-default-black;
  }
}
