@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  body {
    position: relative;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 40px;
  }
}

.header {
  position: relative;
  padding: 13px 0 15px 0;
}
@media (min-width: 768px) {
  .header {
    padding: 11px 0 15px 0;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 53px 0 32px 0;
  }
}

@media (max-width: 767px) {
  .header--line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  width: 190px;
}
.header__logo--current {
  pointer-events: none;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .header__logo {
    justify-content: flex-start;
    width: 174px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    width: 202px;
    height: 59px;
  }
}

.nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .nav {
    max-width: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .nav--back {
    position: relative;
  }
  .nav--back::before {
    content: "";
    position: absolute;
    top: -68px;
    right: -110px;
    z-index: -1;
    width: 720px;
    height: 694px;
    background: url("../img/deco/cat-background-desk.jpg") no-repeat;
  }
}

.nav__toggle {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: none;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav__toggle-in {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav--closed .nav__toggle-decor {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.nav--closed .nav__toggle-decor:nth-child(1) {
  top: 3px;
  left: 0;
}
.nav--closed .nav__toggle-decor:nth-child(2) {
  top: 11px;
  left: 0;
}
.nav--closed .nav__toggle-decor:nth-child(3) {
  top: 19px;
  left: 0;
}

.nav--opened .nav__toggle-decor::before {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  height: 24px;
  width: 2px;
  background-color: #000000;
}
.nav--opened .nav__toggle-decor::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  height: 24px;
  width: 2px;
  background-color: #000000;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
@media (max-width: 767px) {
  .nav__list {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6px 0 0;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    column-gap: 37px;
    row-gap: 10px;
  }
}

.nav--closed .nav__list {
  display: none;
}
@media (min-width: 768px) {
  .nav--closed .nav__list {
    display: flex;
  }
}

@media (max-width: 767px) {
  .nav--nojs {
    width: 100%;
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__list {
  position: static;
  display: flex;
}

@media (max-width: 767px) {
  .nav__item {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #d9d9d9;
  }
  .nav__item:last-child {
    border-bottom: 1px solid #d9d9d9;
  }
}

.nav__link {
  position: relative;
  padding: 21px 22px 24px;
}
.nav__link:hover {
  opacity: 0.6;
}
.nav__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .nav__link {
    padding: 10px 0;
  }
}
@media (min-width: 1440px) {
  .nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.nav__link--current {
  pointer-events: none;
}
@media (min-width: 768px) {
  .nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #68b738;
  }
}

@media (min-width: 1440px) {
  .nav__link--primary {
    color: #ffffff;
  }
  .nav__link--primary::after {
    background: #ffffff;
  }
}

.hero {
  padding: 27px 0 0 0;
  background: url("../img/deco/cat-lick.jpg") top no-repeat;
}
@media (min-width: 768px) {
  .hero {
    padding: 54px 0 0 0;
    background: initial;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 80px 0 0 0;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__inner {
    position: relative;
    align-items: start;
    margin: 0 0 0 88px;
    min-height: 790px;
  }
}
@media (min-width: 1440px) {
  .hero__inner {
    max-width: 420px;
    margin: 0 0 0 80px;
    min-height: 532px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__title {
    margin-bottom: 40px;
    text-align: left;
  }
}

.hero__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__description {
    margin: 0 0 50px 0;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }
}

.hero__picture {
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .hero__picture {
    position: absolute;
    z-index: -1;
    bottom: -23px;
    right: -43px;
    width: 709px;
    height: 609px;
    pointer-events: none;
  }
}
@media (min-width: 1440px) {
  .hero__picture {
    top: -82px;
    left: 385px;
    width: 552px;
    height: 499px;
  }
}

@media (max-width: 767px) {
  .hero .hero__button {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .hero .hero__button {
    padding: 17px 29px;
    font-size: 20px;
    line-height: 20px;
  }
}

.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--primary {
  color: #ffffff;
}
@media (min-width: 768px) {
  .title--primary {
    color: #000000;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  background-color: #68b738;
  color: #ffffff;
  border: 0;
}
.button:hover {
  background: #5eaa2f;
}
.button:active {
  opacity: 0.3;
}

.button--primary {
  background-color: #f2f2f2;
  color: #444444;
}
.button--primary:hover {
  background: #ebebeb;
}
.button--primary:active {
  opacity: 0.3;
}

.programs {
  padding: 20px 0 10px 0;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programs__list {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
}

.program {
  min-width: 280px;
  min-height: 266px;
  padding: 21px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .program {
    padding: 77px 28px 57px 53px;
  }
}
@media (min-width: 1440px) {
  .program {
    width: 570px;
    min-height: 374px;
    padding: 40px 28px 57px 53px;
  }
}

@media (min-width: 768px) {
  .program__inner {
    position: relative;
    width: 54%;
  }
}
@media (min-width: 1440px) {
  .program__inner {
    max-width: 460px;
    width: 100%;
  }
}

.program__img {
  position: relative;
}
.program__img--primary {
  left: 3px;
  margin-right: 20px;
}
@media (min-width: 1440px) {
  .program__img--primary {
    width: 100px;
    height: 106px;
    margin-right: 60px;
  }
}
.program__img--secondary {
  margin: 5px 4px 0 0;
  left: -7px;
}
@media (min-width: 1440px) {
  .program__img--secondary {
    width: 134px;
    height: 100px;
    margin-right: 47px;
    margin-left: -20px;
  }
}
@media (min-width: 768px) {
  .program__img {
    position: absolute;
    top: 27%;
    left: 138%;
  }
}
@media (min-width: 1440px) {
  .program__img {
    position: static;
  }
}

.program__title-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 22px;
}
@media (min-width: 1440px) {
  .program__title-wrapper {
    margin: 0 0 40px;
  }
}

.program__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.program__text {
  position: relative;
  margin: 0 0 20px 0;
  padding-bottom: 23px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
}
@media (max-width: 767px) {
  .program__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
}
@media (min-width: 768px) {
  .program__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1440px) {
  .program__text {
    margin-bottom: 0;
    padding-bottom: 27px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
}
.program__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .program__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.program__link::after {
  content: "";
  margin-left: 15px;
  width: 24px;
  height: 12px;
  background: url("../img/deco/arrow.svg") no-repeat;
}
@media (min-width: 768px) {
  .program__link::after {
    margin-left: 26px;
  }
}

.advantages {
  position: relative;
  padding: 10px 0 49px 0;
}
@media (min-width: 768px) {
  .advantages {
    padding: 34px 0 49px 0;
  }
  .advantages::after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 61px 0 49px 0;
  }
  .advantages::after {
    height: 0;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 62px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 65px;
  }
}

.advantages__inner {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__inner {
    position: relative;
    grid-template-columns: 1fr;
    max-width: 260px;
    min-height: 280px;
    padding: 29px 0 48px;
    gap: 12px;
  }
  .advantages__inner::after {
    content: "";
    position: absolute;
    top: 1px;
    z-index: -1;
    width: 140px;
    height: 100%;
  }
  .advantages__inner--one::after {
    right: 28px;
    background: url("../img/deco/1.svg") no-repeat center;
  }
  .advantages__inner--two::after {
    right: 11px;
    background: url("../img/deco/2.svg") no-repeat center;
  }
  .advantages__inner--three::after {
    right: 9px;
    background: url("../img/deco/3.svg") no-repeat center;
  }
  .advantages__inner--four::after {
    right: 5px;
    background: url("../img/deco/4.svg") no-repeat center;
  }
}
@media (min-width: 1440px) {
  .advantages__inner {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .advantages__img {
    width: 80px;
    height: 80px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 44px;
}

.advantages__text {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.results {
  padding: 25px 0 40px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .results {
    padding: 29px 0 100px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .results {
    padding: 9px 0 0;
  }
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
}
@media (min-width: 768px) {
  .results__wrapper {
    margin: 0 0 69px 0;
  }
}
@media (min-width: 1440px) {
  .results__wrapper {
    width: 440px;
    margin: 0 0 54px 0;
  }
}

.results .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .results .container {
    flex-direction: row;
    gap: 220px;
  }
}

.results__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}
@media (min-width: 768px) {
  .results__inner {
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .results__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 47px;
  }
}

.results__terms-inner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .results__terms-inner {
    padding: 16px 30px;
  }
}

.results__title {
  margin: 0 0 44px;
}
@media (min-width: 768px) {
  .results__title {
    margin: 0 0 63px;
  }
}
@media (min-width: 1440px) {
  .results__title {
    margin: 0 0 145px;
  }
}

.results__description {
  margin: 0 0 4px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .results__description {
    margin: 0 0 38px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .results__description {
    margin: 0 0 52px;
  }
}

.results__terms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px;
}
@media (min-width: 768px) {
  .results__terms {
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .results__terms {
    gap: 38px;
  }
}

.results__terms-desc {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .results__terms-desc {
    font-size: 30px;
    line-height: 37px;
  }
}

.results__terms-term {
  position: absolute;
  bottom: -16px;
  max-width: 80px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .results__terms-term {
    bottom: -7px;
    max-width: 150px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background: #ffffff;
  }
}

@media (min-width: 768px) {
  .results__text-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 6px;
  }
}
@media (min-width: 1440px) {
  .results__text-wrapper {
    flex-direction: row;
    gap: 66px;
    align-self: flex-start;
  }
}

.results__text {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .results__text {
    font-size: 20px;
    text-align: right;
  }
}

.results__slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .results__slider {
    width: 560px;
    height: 512px;
  }
}

.results__slider-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.results__slider-img--overlay {
  z-index: 2;
}

@media (min-width: 768px) {
  .results__img {
    width: 560px;
    height: 512px;
  }
}

.results__slider-control {
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
  background: url("../img/deco/control.svg");
  border: 0;
}
@media (min-width: 768px) {
  .results__slider-control {
    top: 236px !important;
    right: 259px !important;
  }
}
.results__slider-control::before {
  content: "";
  position: absolute;
  top: -108px;
  right: 18px;
  z-index: 3;
  width: 4px;
  height: 256px;
  background: #666666;
}
@media (min-width: 768px) {
  .results__slider-control::before {
    top: -236px;
    height: 512px;
  }
}

.address-info {
  background-color: #f2f2f2;
}
.address-info--primary {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .address-info {
    position: relative;
    z-index: 1;
    padding: 95px 0 107px 0;
  }
}

.address-info__map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .address-info__map {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .address-info__map {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
  }
}

.address-info__iframe {
  flex-grow: 1;
}

.address {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}
@media (min-width: 768px) {
  .address {
    padding: 61px 41px;
  }
}
@media (min-width: 1440px) {
  .address {
    max-width: 565px;
    padding: 56px 75px 63px 80px;
    background: #ffffff;
  }
}

.address__subtitle {
  width: 139px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
@media (min-width: 768px) {
  .address__subtitle {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  width: 139px;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .address__text {
    width: 160px;
    font-size: 16px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .address__text {
    text-align: left;
  }
}

.footer {
  padding: 40px 0;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .footer {
    padding: 43px 0;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 53px 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
@media (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.6;
}
.footer__logo--current {
  pointer-events: none;
}

@media (min-width: 768px) {
  .footer__logo-img {
    width: 143px;
  }
}

.footer__socials {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
@media (max-width: 767px) {
  .footer__socials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
  .footer__socials::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
}

@media (min-width: 768px) {
  .footer__copyright {
    justify-self: end;
  }
}

.footer__logo-academy {
  display: flex;
  align-items: center;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 19px;
  color: #444444;
}
@media (min-width: 768px) {
  .footer__logo-academy {
    width: 168px;
  }
}

.footer__logo-academy-text {
  margin-right: 140px;
}
@media (min-width: 768px) {
  .footer__logo-academy-text {
    margin-right: 28px;
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.catalog {
  padding: 27px 0 25px 0;
}
@media (min-width: 768px) {
  .catalog {
    padding: 53px 0 48px 0;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding: 45px 0 56px 0;
  }
}

.catalog__title {
  margin: 0 0 41px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin: 0 0 82px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 19px;
}
@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 80px;
  }
}

.catalog__list-item {
  position: relative;
}
@media (max-width: 767px) {
  .catalog__list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    background: #ebebeb;
  }
}

@media (max-width: 767px) {
  .catalog__list-item:last-child::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: -20px;
    width: 100vw;
    height: 1px;
    background: #ebebeb;
  }
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  min-height: 190px;
}
@media (min-width: 768px) {
  .product {
    grid-template-columns: 1fr;
    gap: 44px;
    width: 324px;
    margin: 81px 0 0;
    padding: 162px 36px 39px;
    background: #f2f2f2;
  }
  .product--primary {
    gap: 23px;
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .product {
    width: 245px;
    padding: 162px 39px 39px;
  }
}

.product--primary {
  position: relative;
  grid-template-columns: 1fr;
  padding: 40px 0 0;
}
@media (min-width: 768px) {
  .product--primary {
    padding: 162px 36px 39px;
  }
}
.product--primary::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 30px;
  height: 2px;
  background: #d3d3d3;
}
@media (min-width: 768px) {
  .product--primary::before {
    top: 80px;
    width: 60px;
  }
}
.product--primary::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 30px;
  height: 2px;
  background: #d3d3d3;
}
@media (min-width: 768px) {
  .product--primary::after {
    top: 80px;
    width: 60px;
  }
}

.product__link {
  justify-self: center;
}
@media (min-width: 768px) {
  .product__link--img {
    position: absolute;
    top: 0;
  }
}

@media (min-width: 768px) {
  .product__wrapper {
    display: grid;
    gap: 21px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .product__desc-list {
    display: grid;
    gap: 14px;
    margin: 0;
  }
}

.product__title {
  max-width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}
@media (min-width: 768px) {
  .product__title {
    max-width: 170px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
}
.product__title--primary {
  max-width: 100%;
  margin: 30px 0 0;
  text-align: center;
  color: #111111;
}
@media (min-width: 768px) {
  .product__title--primary {
    line-height: 22px;
    margin: 0;
  }
}

.product__inner {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .product__inner {
    font-size: 16px;
    position: relative;
  }
  .product__inner::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #cdcdcd;
  }
}

.product__description {
  font-family: "Lato", "Arial", sans-serif;
}
.product__description--center {
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .product__description--center {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .product__description--center br {
    display: none;
  }
}

.product__button {
  grid-column: 1/-1;
  justify-self: stretch;
  font-size: 16px;
  line-height: 20px;
}

.additional-products {
  padding: 20px 0 35px 0;
}
@media (min-width: 768px) {
  .additional-products {
    padding: 20px 0 86px 0;
  }
}

.additional-products__title-wrapper {
  position: relative;
  display: flex;
}

.additional-products__title {
  margin: 0 0 36px;
  padding: 0 21px 0 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}
.additional-products__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 14px;
  width: calc(100% + 20px);
  height: 2px;
  background: #68b738;
}
@media (min-width: 768px) {
  .additional-products__title::after {
    top: 22px;
    left: -30px;
    width: calc(100% + 60px);
  }
}
@media (min-width: 1440px) {
  .additional-products__title::after {
    top: 22px;
    left: -200px;
    width: calc(100% + 310px);
  }
}
@media (min-width: 768px) {
  .additional-products__title {
    margin: 0 0 80px;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .additional-products__title {
    margin: 0 0 80px -37px;
  }
}

@media (min-width: 1440px) {
  .additional-products__box {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 19px;
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .additional-products__list {
    gap: 0;
    margin-bottom: 68px;
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
  }
}
@media (min-width: 1440px) {
  .additional-products__list {
    width: 80%;
    margin: 0;
    border: 0;
  }
}

.additional-products__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 13px 0 0;
}
.additional-products__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}
.additional-products__list-item:last-child::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}
@media (min-width: 768px) {
  .additional-products__list-item:last-child::after {
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .additional-products__list-item {
    padding: 26px 38px 27px;
    gap: 13px;
  }
}
@media (min-width: 1440px) {
  .additional-products__list-item {
    flex-direction: row;
    align-items: center;
    padding: 16px 0;
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .additional-products__wrapper {
    width: 610px;
  }
}

.additional-products__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-products__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-products__subtitle {
    margin: 0;
  }
}

.additional-products__package {
  width: 200px;
}

.additional-products__inner {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-products__inner {
    gap: 49px;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__button {
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
}

.additional-products__promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 59px 43px 30px;
  background: #68b738 url("../../img/deco/cat-bag.jpg") center/cover no-repeat;
}
@media (min-width: 768px) {
  .additional-products__promotion {
    flex-direction: row;
    justify-content: space-between;
    padding: 53px 124px 55px 79px;
  }
}
@media (min-width: 1440px) {
  .additional-products__promotion {
    width: 20%;
    flex-direction: column;
    padding: 55px 42px 26px;
  }
}

.additional-products__slogan {
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .additional-products__slogan {
    width: 161px;
    text-align: left;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-products__slogan {
    text-align: center;
  }
}

.program-form {
  padding: 27px 0 32px 0;
}
@media (min-width: 768px) {
  .program-form {
    padding: 53px 0 72px 0;
  }
}
@media (min-width: 1440px) {
  .program-form {
    padding: 43px 0 82px 0;
  }
}

.program-form__title {
  margin: 0 0 37px;
}
@media (min-width: 768px) {
  .program-form__title {
    margin: 0 0 57px;
  }
}

.program-form__subtitle {
  max-width: 226px;
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .program-form__subtitle {
    max-width: 330px;
    margin: 0 0 60px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 26px 0;
}
@media (min-width: 768px) {
  .form__top-wrapper {
    gap: 70px;
    padding: 0 0 70px 0;
  }
}
@media (min-width: 1440px) {
  .form__top-wrapper {
    flex-direction: row;
    gap: 80px;
    padding: 0 0 60px 0;
  }
}

.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  margin: 0;
  padding: 0;
  border: 0;
}
.form__fieldset--row {
  padding: 0 0 16px 0;
}
@media (min-width: 768px) {
  .form__fieldset--row {
    padding: 0 0 56px 0;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 76px;
    padding: 0 0 61px 0;
  }
}

@media (max-width: 767px) {
  .form__fieldset--secondary::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -20px;
    width: 100vw;
    height: 1px;
    background: #d9d9d9;
  }
  .form__fieldset--secondary::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: -20px;
    width: 100vw;
    height: 1px;
    background: #d9d9d9;
  }
}

.form__group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  flex-grow: 1;
}
.form__group--small-gap {
  gap: 11px;
}
@media (min-width: 768px) {
  .form__group--small-gap {
    gap: 20px;
  }
}

.form__label {
  color: #444444;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--primary {
  color: #222222;
}

.form__label--secondary {
  color: #000000;
}

.form__field {
  flex-grow: 1;
  padding: 14px 16px 13px 20px;
  font: inherit;
  color: #444444;
  border: 1px solid #e7e7e7;
}
.form__field:hover {
  border: 1px solid #cdcdcd;
}
.form__field:not(:placeholder-shown):focus {
  outline: 2px solid #444444;
}
.form__field--invalid {
  outline: 2px solid #ff8282;
}
.form__field:disabled {
  opacity: 0.3;
}
.form__field:focus ~ .form__control-mark--circle {
  border: solid 1px #bababa;
}
.form__field--small-padd {
  padding: 14px 38px 13px 14px;
}
@media (min-width: 768px) {
  .form__field {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__field[type=radio]:disabled ~ span {
  opacity: 0.3;
}

.form__field[type=radio]:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 6.5px;
  right: 7.5px;
  background: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__field[type=radio]:checked + .form__control-mark::after {
    width: 18px;
    height: 18px;
    top: 10px;
    right: 10px;
  }
}

.form__field[type=checkbox]:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  top: 7px;
  right: 5px;
  background: url("../img/deco/checkbox.svg") center no-repeat;
}
@media (min-width: 768px) {
  .form__field[type=checkbox]:checked + .form__control-mark::after {
    width: 24px;
    height: 19px;
  }
}

.form__icon {
  position: absolute;
  right: 16px;
}

.form__control {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .form__control {
    padding-left: 60px;
  }
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
}
.form__control-mark--circle {
  border: solid 1px #cdcdcd;
  border-radius: 50%;
}
.form__control-mark--rectangle {
  border: solid 1px #cdcdcd;
}
@media (min-width: 768px) {
  .form__control-mark {
    width: 40px;
    height: 40px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 0 19px 0;
}
.form__list--primary {
  padding: 0;
}
@media (min-width: 768px) {
  .form__list--primary {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 123px;
    row-gap: 41px;
  }
}
@media (min-width: 1440px) {
  .form__list--primary {
    display: flex;
    flex-direction: row;
    gap: 136px;
  }
}
@media (min-width: 768px) {
  .form__list--border {
    border: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .form__list--padd {
    padding: 28px;
  }
}
@media (min-width: 1440px) {
  .form__list--padd {
    padding: 34px 25px 31px;
  }
}

.form__legend-wrapper {
  position: relative;
  display: flex;
}
@media (min-width: 1440px) {
  .form__legend-wrapper {
    grid-column: -1/1;
  }
}

.form__legend {
  margin-bottom: 27px;
  padding: 5px 23px 0 0;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
}
.form__legend::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 19px;
  width: calc(100% + 20px);
  height: 2px;
  background: #68b738;
}
.form__legend--width {
  max-width: 205px;
}
@media (min-width: 768px) {
  .form__legend {
    margin: 0 0 62px -40px;
    padding: 5px 40px 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
  .form__legend--margin {
    margin-bottom: 51px;
  }
  .form__legend--width {
    max-width: 100%;
  }
  .form__legend::after {
    top: 27px;
    left: -70px;
    width: calc(100% + 140px);
  }
}
@media (min-width: 1440px) {
  .form__legend::after {
    left: -110px;
    width: calc(100% + 220px);
  }
}

.form__textarea {
  margin: 0 0 20px;
  padding: 7px 14px 12px;
  font: inherit;
  color: #444444;
}
@media (min-width: 768px) {
  .form__textarea {
    height: 174px;
    margin: 0 0 62px;
    padding: 9px 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 16px;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .form__inner {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    margin-top: 59px;
  }
}
@media (min-width: 1440px) {
  .form__inner {
    margin-top: 65px;
    gap: 80px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form__button {
    padding: 16px 64px;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: 569px;
  }
}
/*# sourceMappingURL=style.css.map */